.navbar {
    font-family:"Roboto", sans-serif;
	background:rgba(255,255,255,0);
    margin: 0px;
    padding: 0px;
    border: 0;
    text-transform: uppercase;
	padding: 0 0 1em 0;
    border-top: 3px solid #2ABB9B;
	min-height: 60px;
}

.nav.navbar-nav li a {
  color: #F7F7F7;
}

/*-- change navbar dropdown color --*/
.nav .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
background-color: #f7f7f7;
color:#ff0000;
}

@media only screen and (max-width: 766px) {
.collapsing, .in {
	background: rgba(247,247,247,0.8);
	max-height: none!important;
	max-width: none!important;
}
}
.collapsing ul li a, .in ul li a {color: #555!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: #777!important;}
.navbar {height: 72px;}
}

.navbar .navbar-nav > li > a {
    margin: 10px 2px 0px 0px;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .02em;
	border-radius: 15%;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
}

/*ACTIVE ELEMENT*/
 .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
    background-color: #2ABB9B;
    color: #FFFFFF;
}

/*HOVER ELEMENT*/
 .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: #a9e3d7;
    color: #777;
}

.navbar .navbar-toggle {
    background-color: #f7f7f7 ;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #000000;
}

.navbar .navbar-brand {
	font-family:"Roboto", sans-serif;
	color: #f7f7f7;
    font-size: 25px;
	font-weight: 700;
	height: 35px;
	margin: 10px;
	padding: 5px 5 0 5;
	-webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
}

.navbar .navbar-brand:hover,  .navbar-brand:focus{
	background: #a9e3d7;
}
.navbar .navbar-brand > a:hover,  .navbar-brand > a:focus{
	background: #a9e3d7;
}

.navbar .navbar-brand .fa {
   color: #a9e3d7;
}
