<nav class="navbar navbar-default navbar-fixed-top" id="mynavbar">
	<div class="container">
	<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/">
		FA<i class="fa fa-flash"></i>SP
	</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse pull-right">
	  <ul class="nav navbar-nav navbar-right pull-right">
		<li id="navbar-index"><a href="/" style="text-align: center;"><i class="fa fa-home" style="font-size: 200%"></i><br>Home</a></li>
		<li id="navbar-photos"><a href="photos" style="text-align: center;"><i class="fa fa-camera-retro" style="font-size: 200%"></i><br>Photos</a></li>
		<li id="navbar-about"><a href="about" style="text-align: center;"><i class="fa fa-info-circle" style="font-size: 200%"></i><br>About</a></li>
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="text-align: center;">
			<i class="fa fa-briefcase" style="font-size: 200%"></i><br>Projects<span class="caret"></span></a>
		  <ul class="dropdown-menu">
			<li><a href="arduseo">ArduSeo</a></li>
			<li><a href="kinestl">KineSTL</a></li>
		  </ul>
		</li>
		<li id="navbar-tech"><a href="tech" style="text-align: center;"><i class="fa fa-wrench" style="font-size: 200%"></i><br>Tech</a></li>
	  </ul>
	</div>
  </div>
</nav>

<div id="mybanner">
	<img src="img/harbour.jpg" class="img-responsive">
</div>


<script type="text/javascript">
	$(document).ready(function() {
		$(document).on('click',function(){
			$('.collapse').collapse('hide');
		})
		/*mynavbar mybanner startchange*/
		$( "#mybanner" ).on('click',function(){
			$('.collapse').collapse('hide');
		})
	})
</script>